* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  max-width: 900px;
  margin-bottom: 40px;
  flex: 1 0 auto;
  margin-right: auto;
  margin-left: auto;
}
