* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 900px;
  margin: 0 auto;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
 }

 .button {
  display: inline-block;
  max-width: 300px;
  margin-top: 50px;
  border: 0;
  padding: 0 18px;