.messageDiv {
  padding-left: 1rem;
}

.sentby {
  font-size: 0.5rem;
  color: grey;
  text-align: left;
}

.message {
  background-color: #3a827f;
  color: black;
  padding: 5px;
  margin: 2px;
  border-radius: 1rem;
  width: auto;
}

.me {
  background-color: #92e2c2;
}

.timestamp {
  font-size: 0.5rem;
  color: grey;
  text-align: right;
}