/* #navbod {
  background: linear-gradient(to right, teal, #343a40 80px) !important;
} */

#logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

#title {
  /* font-family: 'East Sea Dokdo', cursive; */
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  padding: 0;
  color: white;
}

.navtext {
  font-family: "Monaco", cursive;
  font-size: 1rem;
  margin-left: 1rem;
}

#hambut {
  outline: none;
}

#hamberder {
  width: 1.5rem;
  height: 1.5rem;
}

.menulink:active {
  color: white!important;
  background-color: #343a40!important;
}